*.html linguist-documentation
*.ipynb linguist-documentation
*.cmake linguist-documentation
SRC/material/** linguist-vendored
SRC/runtime/** linguist-vendored
SRC/element/** linguist-vendored
OTHER/arpack-ng/** linguist-vendored
OTHER/CBLAS/** linguist-vendored
OTHER/Tetgen/** linguist-vendored
OTHER/AMD/** linguist-vendored
OTHER/eigenAPI/** linguist-vendored
tests/**.py linguist-detectable=true

* text=auto !eol
DEVELOPER/coreList -text
DEVELOPER/element/c/example1.tcl -text
DEVELOPER/element/c/trussC.c -text
DEVELOPER/element/cpp/example1.tcl -text
DEVELOPER/element/fortran/elementAPI.f -text
DEVELOPER/element/fortran/elementTypes.f -text
DEVELOPER/element/fortran/example1.tcl -text
DEVELOPER/element/fortran/trussF.f -text
DEVELOPER/integrator/example1.tcl -text
DEVELOPER/material/c/elasticPPc.c -text
DEVELOPER/material/c/elasticPlaneStressC.c -text
DEVELOPER/material/c/example1.tcl -text
DEVELOPER/material/c/example2.tcl -text
DEVELOPER/material/cpp/example1.tcl -text
DEVELOPER/material/fortran/elasticPPf.f -text
DEVELOPER/material/fortran/example1.tcl -text
DEVELOPER/material/fortran/materialAPI.f -text
DEVELOPER/material/fortran/materialTypes.f -text
DEVELOPER/recorder/example1.tcl -text
DEVELOPER/system/example1.tcl -text
EXAMPLES/ComputationalGeomechanicsCourseExamples/Example01.ops -text
EXAMPLES/ComputationalGeomechanicsCourseExamples/Example02.ops -text
EXAMPLES/ComputationalGeomechanicsCourseExamples/Example03.ops -text
EXAMPLES/ComputationalGeomechanicsCourseExamples/Example04.ops -text
EXAMPLES/DatastarExamples/Example1.tcl -text
EXAMPLES/DatastarExamples/README -text
EXAMPLES/DatastarExamples/submit1 -text
EXAMPLES/DeveloperTestScripts/BWBN.tcl -text
EXAMPLES/DeveloperTestScripts/BiaxialConcrete_matTest.tcl -text
EXAMPLES/DeveloperTestScripts/Cap.tcl -text
EXAMPLES/DeveloperTestScripts/PlaneStressSimplifiedJ2.tcl -text
EXAMPLES/DeveloperTestScripts/SimplifiedJ2.tcl -text
EXAMPLES/DeveloperTestScripts/SteelBRB.tcl -text
EXAMPLES/DeveloperTestScripts/ZeroLengthImpact3D_test.tcl -text
EXAMPLES/DeveloperTestScripts/cyclicDisp.dat -text
EXAMPLES/DeveloperTestScripts/cyclicForce.dat -text
EXAMPLES/DeveloperTestScripts/example_cyclic_disp.txt -text
EXAMPLES/DeveloperTestScripts/example_cyclic_time.txt -text
EXAMPLES/DeveloperTestScripts/runAll.tcl -text
EXAMPLES/ExamplePython/ARL360.g3 -text
EXAMPLES/ExamplePython/Example1.1.py -text
EXAMPLES/ExamplePython/Example2.1.py -text
EXAMPLES/ExamplePython/Example3.1.py -text
EXAMPLES/ExamplePython/Example3.2.py -text
EXAMPLES/ExamplePython/Example3.3.py -text
EXAMPLES/ExamplePython/Example4.1.py -text
EXAMPLES/ExamplePython/Example5.1.py -text
EXAMPLES/ExamplePython/Example6.1.py -text
EXAMPLES/ExamplePython/Example7.1.py -text
EXAMPLES/ExamplePython/Example8.1.py -text
EXAMPLES/ExamplePython/MomentCurvature.py -text
EXAMPLES/ExamplePython/RCsection.py -text
EXAMPLES/ExamplePython/tabasFN.txt -text
EXAMPLES/ExamplePython/tabasFP.txt -text
EXAMPLES/ExampleScripts/27NodeCorrected.ops -text
EXAMPLES/ExampleScripts/ARL360.at2 -text
EXAMPLES/ExampleScripts/ArcLength01.tcl -text
EXAMPLES/ExampleScripts/ArcLength02.tcl -text
EXAMPLES/ExampleScripts/ConcretePanel.tcl -text
EXAMPLES/ExampleScripts/CrossAnisotropicElastic.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/Apply_FrictionBC.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/Apply_IsotropicPressure.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/AxialLoad_Analysis.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/CreateMaterialModels.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/Cubic_Me -text
EXAMPLES/ExampleScripts/Cube_tcl/Cubic_sm -text
EXAMPLES/ExampleScripts/Cube_tcl/ForceTopPlatenMoveDownHorizontally.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/InputElements.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/InputNodes.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/IsotropicCompression_Analysis.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/Parameters.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/README -text
EXAMPLES/ExampleScripts/Cube_tcl/SetupAxialLoadRecorder.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/SetupIsotropicCompressionRecorder.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/SetupLinkFileforJoey3D.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/TriSimu_Sand.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/Units.tcl -text
EXAMPLES/ExampleScripts/Cube_tcl/elements.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/elements.ops -text
EXAMPLES/ExampleScripts/Cube_tcl/headers.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/nodes.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/nodes.ops -text
EXAMPLES/ExampleScripts/Cube_tcl/nodes_ptop.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/pile_posi_elements.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/run -text
EXAMPLES/ExampleScripts/Cube_tcl/shearnodes.dat -text
EXAMPLES/ExampleScripts/Cube_tcl/surfnodes.dat -text
EXAMPLES/ExampleScripts/DynamicShell.tcl -text
EXAMPLES/ExampleScripts/DynamicShell2.tcl -text
EXAMPLES/ExampleScripts/Example1.1.tcl -text
EXAMPLES/ExampleScripts/Example2.1.tcl -text
EXAMPLES/ExampleScripts/Example3.1.tcl -text
EXAMPLES/ExampleScripts/Example3.2.tcl -text
EXAMPLES/ExampleScripts/Example3.3.tcl -text
EXAMPLES/ExampleScripts/Example4.1.tcl -text
EXAMPLES/ExampleScripts/Example5.1.tcl -text
EXAMPLES/ExampleScripts/Example6.1.tcl -text
EXAMPLES/ExampleScripts/Example7.1.tcl -text
EXAMPLES/ExampleScripts/Example8.1.tcl -text
EXAMPLES/ExampleScripts/HS_constraint.tcl -text
EXAMPLES/ExampleScripts/HS_constraint02.tcl -text
EXAMPLES/ExampleScripts/MomentCurvature.tcl -text
EXAMPLES/ExampleScripts/NR228.txt -text
EXAMPLES/ExampleScripts/PureShearTest_27NodeElement.ops -text
EXAMPLES/ExampleScripts/Quad3d.tcl -text
EXAMPLES/ExampleScripts/RCFrame1.tcl -text
EXAMPLES/ExampleScripts/RCFrame2.tcl -text
EXAMPLES/ExampleScripts/RCFrame3.tcl -text
EXAMPLES/ExampleScripts/RCFrame4.tcl -text
EXAMPLES/ExampleScripts/RCFrame5.tcl -text
EXAMPLES/ExampleScripts/RCFrameDisplay.tcl -text
EXAMPLES/ExampleScripts/RCsection.tcl -text
EXAMPLES/ExampleScripts/RMC01_constP.tcl -text
EXAMPLES/ExampleScripts/ReadRecord.tcl -text
EXAMPLES/ExampleScripts/ReadSMDFile.tcl -text
EXAMPLES/ExampleScripts/Rigid.tcl -text
EXAMPLES/ExampleScripts/RigidFrame3D.tcl -text
EXAMPLES/ExampleScripts/RigidFrame3Ddisplay.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Apply_KoBC.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Apply_LateralLoad.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Apply_PushoverBC.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Apply_SelfWeight.tcl -text
EXAMPLES/ExampleScripts/SPtcl/CreateMaterialModels.tcl -text
EXAMPLES/ExampleScripts/SPtcl/InputElements.tcl -text
EXAMPLES/ExampleScripts/SPtcl/InputNodes.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Parameters.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Plug_In_PileElements.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Pushover_Analysis.tcl -text
EXAMPLES/ExampleScripts/SPtcl/README.NOW -text
EXAMPLES/ExampleScripts/SPtcl/SelfWeight_Analysis.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Spile_Sand.tcl -text
EXAMPLES/ExampleScripts/SPtcl/Units.tcl -text
EXAMPLES/ExampleScripts/SPtcl/elements.dat -text
EXAMPLES/ExampleScripts/SPtcl/nodes.dat -text
EXAMPLES/ExampleScripts/SPtcl/nodes_ptop.dat -text
EXAMPLES/ExampleScripts/Solid_PressureSensitiveE3D.tcl -text
EXAMPLES/ExampleScripts/TestDamage2p.tcl -text
EXAMPLES/ExampleScripts/TimeSeriesTest.tcl -text
EXAMPLES/ExampleScripts/coupledZeroLength.tcl -text
EXAMPLES/ExampleScripts/example1.tcl -text
EXAMPLES/ExampleScripts/example2.tcl -text
EXAMPLES/ExampleScripts/example3.tcl -text
EXAMPLES/ExampleScripts/fdPureShear.tcl -text
EXAMPLES/ExampleScripts/fdPureUnixial.tcl -text
EXAMPLES/ExampleScripts/fdPureVolume.tcl -text
EXAMPLES/ExampleScripts/fdSimpleShear.tcl -text
EXAMPLES/ExampleScripts/fdepPureUniaxial.tcl -text
EXAMPLES/ExampleScripts/fdepSimpleShear.tcl -text
EXAMPLES/ExampleScripts/genPlaneFrame.tcl -text
EXAMPLES/ExampleScripts/patchtri31p.tcl -text
EXAMPLES/ExampleScripts/record01.txt -text
EXAMPLES/ExampleScripts/tabasFN.txt -text
EXAMPLES/ExampleScripts/tabasFP.txt -text
EXAMPLES/ExampleScripts/truss1.tcl -text
EXAMPLES/ExampleScripts/upU_Consolidation_N8_10E.tcl -text
EXAMPLES/ExampleScripts/upU_Dyn10e.tcl -text
EXAMPLES/ExampleScripts/upU_Dyn1e.tcl -text
EXAMPLES/ExampleScripts/upUhalfSpace.ops -text
EXAMPLES/ExamplesForTesting/8node.ops -text
EXAMPLES/ExamplesForTesting/8node_upU_fix_U_1element.ops -text
EXAMPLES/ExamplesForTesting/8node_upU_fix_p_U_1element.ops -text
EXAMPLES/ExamplesForTesting/8node_upU_fix_u_element.ops -text
EXAMPLES/ExamplesForTesting/ARL360.at2 -text
EXAMPLES/ExamplesForTesting/CrossAnisotropicElastic.ops -text
EXAMPLES/ExamplesForTesting/CrossAnisotropicElastic02.ops -text
EXAMPLES/ExamplesForTesting/MY0a.ops -text
EXAMPLES/ExamplesForTesting/MY0b.ops -text
EXAMPLES/ExamplesForTesting/MY0c.ops -text
EXAMPLES/ExamplesForTesting/MY1a.ops -text
EXAMPLES/ExamplesForTesting/MY1b.ops -text
EXAMPLES/ExamplesForTesting/MY1c.ops -text
EXAMPLES/ExamplesForTesting/MomentCurvature.ops -text
EXAMPLES/ExamplesForTesting/NR228.txt -text
EXAMPLES/ExamplesForTesting/Nodes.tcl -text
EXAMPLES/ExamplesForTesting/PileElements.tcl -text
EXAMPLES/ExamplesForTesting/PureShearTest_27NodeElement.ops -text
EXAMPLES/ExamplesForTesting/PyMaterials.tcl -text
EXAMPLES/ExamplesForTesting/PyPattern.tcl -text
EXAMPLES/ExamplesForTesting/PySimple1.tcl -text
EXAMPLES/ExamplesForTesting/PySoilProp.txt -text
EXAMPLES/ExamplesForTesting/PyTzSimple1GenForTesting.ops -text
EXAMPLES/ExamplesForTesting/README.NOW -text
EXAMPLES/ExamplesForTesting/RMC01_constP.ops -text
EXAMPLES/ExamplesForTesting/Test.20node_upU_1elementfix.ops -text
EXAMPLES/ExamplesForTesting/Test.BeamLoad2D.ops -text
EXAMPLES/ExamplesForTesting/Test.BeamLoad3D.ops -text
EXAMPLES/ExamplesForTesting/Test.BeamsAndSections2D.ops -text
EXAMPLES/ExamplesForTesting/Test.BeamsAndSections3D.ops -text
EXAMPLES/ExamplesForTesting/Test.Example1.1.ops -text
EXAMPLES/ExamplesForTesting/Test.Example2.1.ops -text
EXAMPLES/ExamplesForTesting/Test.Example3.1.ops -text
EXAMPLES/ExamplesForTesting/Test.Example3.2.ops -text
EXAMPLES/ExamplesForTesting/Test.Example3.3.ops -text
EXAMPLES/ExamplesForTesting/Test.Example4.1.ops -text
EXAMPLES/ExamplesForTesting/Test.Example5.1.ops -text
EXAMPLES/ExamplesForTesting/Test.MomentCurvature.ops -text
EXAMPLES/ExamplesForTesting/Test.NR228.txt -text
EXAMPLES/ExamplesForTesting/Test.RCFrame1.ops -text
EXAMPLES/ExamplesForTesting/Test.RCFrame2.ops -text
EXAMPLES/ExamplesForTesting/Test.RCFrame3.ops -text
EXAMPLES/ExamplesForTesting/Test.RCFrame4.ops -text
EXAMPLES/ExamplesForTesting/Test.RCFrame5.ops -text
EXAMPLES/ExamplesForTesting/Test.RCFrameDisplay.ops -text
EXAMPLES/ExamplesForTesting/Test.RCsection.ops -text
EXAMPLES/ExamplesForTesting/Test.ReadSMDFile.ops -text
EXAMPLES/ExamplesForTesting/Test.RigidFrame3D.ops -text
EXAMPLES/ExamplesForTesting/Test.RigidFrame3Ddisplay.ops -text
EXAMPLES/ExamplesForTesting/Test.ShearBeam2D.ops -text
EXAMPLES/ExamplesForTesting/Test.ShearBeam3D.ops -text
EXAMPLES/ExamplesForTesting/Test.ZeroLength5.ops -text
EXAMPLES/ExamplesForTesting/Test.example1.ops -text
EXAMPLES/ExamplesForTesting/Test.example2.ops -text
EXAMPLES/ExamplesForTesting/Test.example3.ops -text
EXAMPLES/ExamplesForTesting/Test.genPlaneFrame.ops -text
EXAMPLES/ExamplesForTesting/Test.reliability_1_1_1.ops -text
EXAMPLES/ExamplesForTesting/Test.reliability_3_1_1.ops -text
EXAMPLES/ExamplesForTesting/Test.rotSpring2D.ops -text
EXAMPLES/ExamplesForTesting/Test.tabasFN.txt -text
EXAMPLES/ExamplesForTesting/Test.tabasFP.txt -text
EXAMPLES/ExamplesForTesting/Test.truss1.ops -text
EXAMPLES/ExamplesForTesting/TzMaterials.tcl -text
EXAMPLES/ExamplesForTesting/TzSimple1.tcl -text
EXAMPLES/ExamplesForTesting/TzSoilProp.txt -text
EXAMPLES/ExamplesForTesting/fdPureShear.ops -text
EXAMPLES/ExamplesForTesting/fdPureUnixial.ops -text
EXAMPLES/ExamplesForTesting/fdPureVolume.ops -text
EXAMPLES/ExamplesForTesting/fdSimpleShear.ops -text
EXAMPLES/ExamplesForTesting/fdepPureUniaxial.ops -text
EXAMPLES/ExamplesForTesting/fdepSimpleShear.ops -text
EXAMPLES/ExamplesForTesting/rrsmv1_1.txt -text
EXAMPLES/LargeSP/Example.tcl -text
EXAMPLES/LargeSP/pbs1 -text
EXAMPLES/MaterialModels/ConcreteEPmodelDP.tcl -text
EXAMPLES/MaterialModels/DenseSandEPmodelDP.tcl -text
EXAMPLES/MaterialModels/LooseSandEPmodelDP.tcl -text
EXAMPLES/MaterialModels/MediumClayEPmodelCC.tcl -text
EXAMPLES/MaterialModels/MediumClayEPmodelVM.tcl -text
EXAMPLES/MaterialModels/MediumDenseSandEPmodelDP.tcl -text
EXAMPLES/MaterialModels/MediumSandEPmodelDP.tcl -text
EXAMPLES/MaterialModels/SoftClayEPmodelCC.tcl -text
EXAMPLES/MaterialModels/SoftClayEPmodelVM.tcl -text
EXAMPLES/MaterialModels/SteelEPmodelVM.tcl -text
EXAMPLES/MaterialModels/StiffClayEPmodelCC.tcl -text
EXAMPLES/MaterialModels/StiffClayEPmodelVM.tcl -text
EXAMPLES/ParallelModelMP/common.tcl -text
EXAMPLES/ParallelModelMP/exampleMP.tcl -text
EXAMPLES/ParallelModelMP/exampleSP.tcl -text
EXAMPLES/PlaneFrame/quick.in -text
EXAMPLES/README -text
EXAMPLES/Reliability/CalRel_manual_1.tcl -text
EXAMPLES/Reliability/CalRel_manual_2.tcl -text
EXAMPLES/Reliability/CalRel_manual_4.tcl -text
EXAMPLES/Reliability/CalRel_manual_7.tcl -text
EXAMPLES/Reliability/CalRel_manual_8.tcl -text
EXAMPLES/Reliability/Class_example_1.tcl -text
EXAMPLES/Reliability/Class_example_2.tcl -text
EXAMPLES/Reliability/DiscretizeMember.tcl -text
EXAMPLES/Reliability/Madsen_eg_5_9.tcl -text
EXAMPLES/Reliability/RV_tester.tcl -text
EXAMPLES/Reliability/bar.tcl -text
EXAMPLES/Reliability/industrialFrame.tcl -text
EXAMPLES/Reliability/portalframe.tcl -text
EXAMPLES/Reliability/steelFrame.tcl -text
EXAMPLES/Reliability/truss.tcl -text
EXAMPLES/Reliability/truss2.tcl -text
EXAMPLES/Reliability/trussParameter.tcl -text
EXAMPLES/ShadowTruss/run.tcl -text
EXAMPLES/SmallMP/Example.tcl -text
EXAMPLES/SmallMP/ReadRecord.tcl -text
EXAMPLES/SmallMP/analysis.tcl -text
EXAMPLES/SmallMP/model.tcl -text
EXAMPLES/SmallMP/qTestMP -text
EXAMPLES/SmallSP/Example.tcl -text
EXAMPLES/SmallSP/RCsection.tcl -text
EXAMPLES/SmallSP/RigidFrame3D.tcl -text
EXAMPLES/SmallSP/tabasFN.txt -text
EXAMPLES/TclPlaneTruss/example1.tcl -text
EXAMPLES/TclPlaneTruss/example2.tcl -text
EXAMPLES/TeraGridExamples/Example1.tcl -text
EXAMPLES/TeraGridExamples/Example2.tcl -text
EXAMPLES/TeraGridExamples/Example3.tcl -text
EXAMPLES/TeraGridExamples/README -text
EXAMPLES/TeraGridExamples/analysis.tcl -text
EXAMPLES/TeraGridExamples/model.tcl -text
EXAMPLES/TeraGridExamples/peerRecords.txt -text
EXAMPLES/TeraGridExamples/submit1 -text
EXAMPLES/kepler/ARL360.at2 -text
EXAMPLES/kepler/Example1.tcl -text
EXAMPLES/kepler/Example1.xml -text
EXAMPLES/verification/AISC25.tcl -text
EXAMPLES/verification/EigenFrame.Extra.tcl -text
EXAMPLES/verification/EigenFrame.tcl -text
EXAMPLES/verification/NewmarkIntegrator.tcl -text
EXAMPLES/verification/PinchedCylinder.tcl -text
EXAMPLES/verification/PlanarShearWall.tcl -text
EXAMPLES/verification/PlanarTruss.Extra.tcl -text
EXAMPLES/verification/PlanarTruss.tcl -text
EXAMPLES/verification/PortalFrame2d.tcl -text
EXAMPLES/verification/ReadRecord.tcl -text
EXAMPLES/verification/SmallEigen.tcl -text
EXAMPLES/verification/elCentro.at2 -text
EXAMPLES/verification/runVerificationSuite.tcl -text
EXAMPLES/verification/sdofTransient.tcl -text
SRC/actor/objectBroker/ObjectBroker.C.holden -text
SRC/analysis/algorithm/equiSolnAlgo/accelerator/naccel.f -text
SRC/doc/Essential.eps -text
SRC/doc/Example.eps -text
SRC/doc/Example2.eps -text
SRC/doc/FedeasHardeningMaterial.eps -text
SRC/doc/FedeasMaterial.eps -text
SRC/doc/HardeningMaterial.eps -text
SRC/doc/Material.eps -text
SRC/doc/circLayer.eps -text
SRC/doc/circPatch.eps -text
SRC/doc/fig_files/BeamClass.eps -text
SRC/doc/fig_files/BeamClass.fig -text
SRC/doc/fig_files/BeamTransf.eps -text
SRC/doc/fig_files/BeamTransf.fig -text
SRC/doc/fig_files/Example1.eps -text
SRC/doc/fig_files/Example1.fig -text
SRC/doc/fig_files/Example2.eps -text
SRC/doc/fig_files/Example2.fig -text
SRC/doc/fig_files/Example3.eps -text
SRC/doc/fig_files/Example3.fig -text
SRC/doc/fig_files/Example4.eps -text
SRC/doc/fig_files/Example4.fig -text
SRC/doc/fig_files/ExampleOut3.2.eps -text
SRC/doc/fig_files/HardeningBehavior.fig -text
SRC/doc/fig_files/HardeningBehavior.pstex_t -text
SRC/doc/fig_files/MomentCurvature.eps -text
SRC/doc/fig_files/RCsection0.eps -text
SRC/doc/fig_files/RCsection4.eps -text
SRC/doc/fig_files/RCsection4.fig -text
SRC/doc/fig_files/RigidFrameDisp.eps -text
SRC/doc/fig_files/SS.eps -text
SRC/doc/fig_files/StressStrain.fig -text
SRC/doc/fig_files/StressStrain.pstex_t -text
SRC/doc/fig_files/TrussClass.eps -text
SRC/doc/fig_files/TrussClass.fig -text
SRC/doc/fig_files/TrussTransf.eps -text
SRC/doc/fig_files/TrussTransf.fig -text
SRC/doc/fig_files/TwoStory.eps -text
SRC/doc/fig_files/ZeroLengthSection.eps -text
SRC/doc/fig_files/ZeroLengthSection.fig -text
SRC/doc/fig_files/brick.eps -text
SRC/doc/fig_files/brick.fig -text
SRC/doc/fig_files/cantilever.eps -text
SRC/doc/fig_files/hoop.eps -text
SRC/doc/fig_files/newElement1MK.eps -text
SRC/doc/fig_files/newNode3.3.eps -text
SRC/doc/fig_files/nineNodeQuad.eps -text
SRC/doc/fig_files/nineNodeQuad.fig -text
SRC/doc/localAxis.eps -text
SRC/doc/quadPatch.eps -text
SRC/doc/straightLayer.eps -text
SRC/domain/domain/single/ComponentIter -text
SRC/domain/pattern/LoadpatternIter -text
SRC/element/HUelements/DBESI0.C -text
SRC/element/HUelements/DBESI1.C -text
SRC/element/componentElement/test.tcl -text
SRC/element/componentElement/test2.tcl -text
SRC/element/elastomericBearing/ElastomericX.tcl -text
SRC/element/elastomericBearing/HDR.tcl -text
SRC/element/elastomericBearing/LeadRubberX.tcl -text
SRC/element/feap/fillCommon.f -text
SRC/element/feap/getCommon.f -text
SRC/element/forceBeamColumn/gaussq.f -text
SRC/element/joint/InputData.txt -text
SRC/element/joint/Joint2DHelp.txt -text
SRC/element/joint/Joint3DHelp.txt -text
SRC/element/joint/SimpleJointHelp.txt -text
SRC/element/nonlinearBeamColumn/tcl/TclElmtBuilder.cpp.jnt -text
SRC/machine/etime.c -text
SRC/material/nD/feap/feapCommon.f -text
SRC/material/nD/feap/matl01.f -text
SRC/material/nD/feap/matl02.f -text
SRC/material/nD/feap/matl03.f -text
SRC/material/nD/stressDensityModel/MODULE_ALL_INTERFACES_2D.f90 -text
SRC/material/nD/stressDensityModel/MODULE_ALL_INTERFACES_3D.f90 -text
SRC/material/nD/stressDensityModel/SDM2D.f90 -text
SRC/material/nD/stressDensityModel/SDM3D.f90 -text
SRC/material/uniaxial/DoddRestrepo.f -text
SRC/material/uniaxial/PY/PyLiq1_documentation.pdf -text svneol=unset#unset
SRC/material/uniaxial/PY/PySimple1[!!-~]documentation.PDF -text
SRC/material/uniaxial/PY/QzSimple1[!!-~]documentation.PDF -text
SRC/material/uniaxial/PY/QzSimple1_documentation.PDF -text svneol=unset#unset
SRC/material/uniaxial/PY/TzLiq1_documentation.pdf -text svneol=unset#unset
SRC/material/uniaxial/PY/TzSimple1[!!-~]documentation.PDF -text svneol=unset#unset
SRC/material/uniaxial/PY/TzSimple1_documentation.PDF -text svneol=unset#unset
SRC/material/uniaxial/STEELDR.f -text
SRC/material/uniaxial/c14-SK-M.f -text
SRC/material/uniaxial/drain/anal00.f -text
SRC/material/uniaxial/drain/common00.f -text
SRC/material/uniaxial/fedeas/Hard1.f -text
SRC/material/uniaxial/fedeas/PD1.c -text
SRC/material/uniaxial/fedeas/PD1.f -text
SRC/readme -text
SRC/remote/remote.c -text
SRC/renderer/container.H -text
SRC/renderer/db.H -text
SRC/renderer/gMatrix.H -text
SRC/renderer/simple.c -text
SRC/scripts/clean.tcl -text
SRC/system_of_eqn/SystemOfEqn -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.CARTER -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.DATASTAR -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.LONESTAR -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.MacOSX -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.RANGER -text
SRC/system_of_eqn/linearSOE/mumps/Makefile.inc.TERAGRID -text
SRC/system_of_eqn/linearSOE/mumps/c_example.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/genmmd.f -text
SRC/system_of_eqn/linearSOE/sparseSYM/grcm.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/maintry.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/nest.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/newordr.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/nmat.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/nnsim.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/symbolic.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/tim.c -text
SRC/system_of_eqn/linearSOE/sparseSYM/utility.c -text
SRC/tagged/storage/ArrayOfTaggedObjects -text
Win32/OpenSees.sln -text
Win32/lib/debug/DoddRestrepo.pdb -text
Win32/lib/debug/arpack.pdb -text
Win32/lib/debug/fedeas.pdb -text
Win32/lib/debug/umfpackC.pdb -text
Win32/proj/actor/actor.dsp -text
Win32/proj/actor/actor.mak -text
Win32/proj/analysis/analysis.dsp -text
Win32/proj/analysis/analysis.mak -text
Win32/proj/analysis/analysis.vcxproj.filters -text
Win32/proj/cblas/cblas.dsp -text
Win32/proj/cblas/cblas.mak -text
Win32/proj/convergence/convergence.dsp -text
Win32/proj/convergence/convergence.mak -text
Win32/proj/cssparse/ReadMe.txt -text
Win32/proj/cssparse/cssparse.vcxproj.filters -text
Win32/proj/damage/damage.dsp -text
Win32/proj/damage/damage.vcxproj.filters -text
Win32/proj/database/database.dsp -text
Win32/proj/database/database.mak -text
Win32/proj/database/database.vcxproj.filters -text
Win32/proj/distributedSuperLU/distributedSuperLU.vcproj -text
Win32/proj/domain/domain.dsp -text
Win32/proj/domain/domain.mak -text
Win32/proj/domain/domain.vcxproj.filters -text
Win32/proj/element/element.dsp -text
Win32/proj/element/element.mak -text
Win32/proj/element/element.vcxproj.filters -text
Win32/proj/graph/graph.dsp -text
Win32/proj/graph/graph.mak -text
Win32/proj/graph/graph.vcxproj.filters -text
Win32/proj/handler/handler.dsp -text
Win32/proj/handler/handler.vcxproj.filters -text
Win32/proj/material/material.dsp -text
Win32/proj/material/material.mak -text
Win32/proj/material/material.vcxproj.filters -text
Win32/proj/matrix/matrix.dsp -text
Win32/proj/matrix/matrix.mak -text
Win32/proj/matrix/matrix.vcxproj.filters -text
Win32/proj/minPackage/minPackageC.vcproj -text
Win32/proj/minPackage/minPackageCPP.vcproj -text
Win32/proj/modelbuilder/modelbuilder.dsp -text
Win32/proj/modelbuilder/modelbuilder.mak -text
Win32/proj/modelbuilder/modelbuilder.vcxproj.filters -text
Win32/proj/openSees/OpenSees.rc -text
Win32/proj/openSees/OpenSees.vcxproj.filters -text
Win32/proj/openSees/openSees.dsp -text
Win32/proj/openSees/openSees.mak -text
Win32/proj/openSeesMP/OpenSeesMP.vcproj -text svneol=unset#application/octet-stream
Win32/proj/openSeesSP/OpenSeesSP.vcproj -text svneol=unset#application/octet-stream
Win32/proj/openSeesTk/OpenSeesTk.rc -text
Win32/proj/openSeesTk/OpenSeesTk.vcxproj.filters -text
Win32/proj/openSeesTk/openSeesTk.dsp -text
Win32/proj/optimization/optimization.vcxproj.filters -text
Win32/proj/parallel/parallel.vcproj -text
Win32/proj/quickMain/quickMain.dsp -text
Win32/proj/quickMain/quickMain.mak -text
Win32/proj/quickMain/quickMain.vcxproj.filters -text
Win32/proj/recorder/recorder.dsp -text
Win32/proj/recorder/recorder.mak -text
Win32/proj/recorder/recorder.vcxproj.filters -text
Win32/proj/reliability/reliability.dsp -text
Win32/proj/reliability/reliability.vcxproj.filters -text
Win32/proj/renderer/renderer.dsp -text
Win32/proj/renderer/renderer.vcxproj.filters -text
Win32/proj/string/string.dsp -text
Win32/proj/string/string.vcxproj.filters -text
Win32/proj/superLU/superLU.dsp -text
Win32/proj/superLU/superLU.mak -text
Win32/proj/superLU/superLU.vcxproj.filters -text
Win32/proj/system/system.dsp -text
Win32/proj/system/system.mak -text
Win32/proj/system/system.vcxproj.filters -text
Win32/proj/tagged/tagged.dsp -text
Win32/proj/tagged/tagged.mak -text
Win32/proj/tagged/tagged.vcxproj.filters -text
Win32/proj/tcl/tcl.vcxproj.filters -text
Win32/proj/utility/utility.dsp -text
Win32/proj/utility/utility.mak -text
Win64/OpenSees.sln -text
Win64/lib/debug/DoddRestrepo.pdb -text
Win64/lib/debug/arpack.pdb -text
Win64/lib/debug/fedeas.pdb -text
Win64/lib/debug/umfpackC.pdb -text
Win64/proj/analysis/analysis.vcxproj.filters -text
Win64/proj/cssparse/cssparse.vcxproj.filters -text
Win64/proj/damage/damage.vcxproj.filters -text
Win64/proj/database/database.vcxproj.filters -text
Win64/proj/distributedSuperLU/distributedSuperLU.vcproj -text
Win64/proj/domain/domain.vcxproj.filters -text
Win64/proj/element/element.vcxproj.filters -text
Win64/proj/graph/graph.vcxproj.filters -text
Win64/proj/handler/handler.vcxproj.filters -text
Win64/proj/material/material.vcxproj.filters -text
Win64/proj/matrix/matrix.vcxproj.filters -text
Win64/proj/minPackage/minPackageC.vcproj -text
Win64/proj/minPackage/minPackageCPP.vcproj -text
Win64/proj/modelbuilder/modelbuilder.vcxproj.filters -text
Win64/proj/openSees/OpenSees.rc -text
Win64/proj/openSees/OpenSees.vcxproj.filters -text
Win64/proj/openSeesMP/OpenSeesMP.vcproj -text
Win64/proj/openSeesPy/OpenSeesPy.rc -text
Win64/proj/openSeesPy/OpenSeesPy.vcxproj.filters -text
Win64/proj/openSeesSP/OpenSeesSP.vcproj -text
Win64/proj/openSeesTk/OpenSeesTk.rc -text
Win64/proj/openSeesTk/OpenSeesTk.vcxproj.filters -text
Win64/proj/optimization/optimization.vcxproj.filters -text
Win64/proj/parallel/parallel.vcproj -text
Win64/proj/quickMain/quickMain.vcxproj.filters -text
Win64/proj/recorder/recorder.vcxproj.filters -text
Win64/proj/reliability/reliability.vcxproj.filters -text
Win64/proj/renderer/renderer.vcxproj.filters -text
Win64/proj/string/string.vcxproj.filters -text
Win64/proj/superLU/superLU.vcxproj.filters -text
Win64/proj/system/system.vcxproj.filters -text
Win64/proj/tagged/tagged.vcxproj.filters -text
Win64/proj/tcl/tcl.vcxproj.filters -text
Workshops/OpenSeesDays/ALH360.DT2 -text
Workshops/OpenSeesDays/ALH360.dat -text
Workshops/OpenSeesDays/IELC180.DT2 -text
Workshops/OpenSeesDays/IELC180.acc -text
Workshops/OpenSeesDays/IELC180.dat -text
Workshops/OpenSeesDays/IELC180.disp -text
Workshops/OpenSeesDays/MomentCurvature.tcl -text
Workshops/OpenSeesDays/RCFrame.tcl -text
Workshops/OpenSeesDays/RCFrameGravity.tcl -text
Workshops/OpenSeesDays/RCFrameMulti.tcl -text
Workshops/OpenSeesDays/RCFramePushover.tcl -text
Workshops/OpenSeesDays/RCFrameUniform.tcl -text
Workshops/OpenSeesDays/RCsection.tcl -text
Workshops/OpenSeesDays/RCsection2D.tcl -text
Workshops/OpenSeesDays/ReadRecord.tcl -text
Workshops/OpenSeesDays/Steel2dModels/Building1.tcl -text
Workshops/OpenSeesDays/Steel2dModels/CBF1.tcl -text
Workshops/OpenSeesDays/Steel2dModels/CBF2.tcl -text
Workshops/OpenSeesDays/Steel2dModels/CBF3.tcl -text
Workshops/OpenSeesDays/Steel2dModels/CBF4.tcl -text
Workshops/OpenSeesDays/Steel2dModels/CBFbase.tcl -text
Workshops/OpenSeesDays/Steel2dModels/Dynamic.EQ.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF1.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF2.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF2alternate.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF3.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF4.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF5.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF6.tcl -text
Workshops/OpenSeesDays/Steel2dModels/MRF7.tcl -text
Workshops/OpenSeesDays/Steel2dModels/ReadRecord.tcl -text
Workshops/OpenSeesDays/Steel2dModels/Solution2014.tcl -text
Workshops/OpenSeesDays/Steel2dModels/Steel2d.tcl -text
Workshops/OpenSeesDays/Steel2dModels/SteelFrameTemplate2d.tcl -text
Workshops/OpenSeesDays/Steel2dModels/SteelMomentFrame2d_UniformExcitation.tcl -text
Workshops/OpenSeesDays/SteelWSections.tcl -text
Workshops/OpenSeesDays/a.tcl -text
Workshops/OpenSeesDays/b.tcl -text
Workshops/OpenSeesDays/c.tcl -text
Workshops/OpenSeesDays/d.tcl -text
Workshops/OpenSeesDays/e.tcl -text
Workshops/OpenSeesDays/el_centro.dat -text
Workshops/OpenSeesDays/ex1.tcl -text
Workshops/OpenSeesDays/ex2.tcl -text
Workshops/OpenSeesDays/ex3.tcl -text
Workshops/OpenSeesDays/f.tcl -text
Workshops/OpenSeesDays/frame2/ALH360.DT2 -text
Workshops/OpenSeesDays/frame2/IELC180.DT2 -text
Workshops/OpenSeesDays/frame2/IELC180.acc -text
Workshops/OpenSeesDays/frame2/IELC180.disp -text
Workshops/OpenSeesDays/frame2/LibUnits.tcl -text
Workshops/OpenSeesDays/frame2/ReadSMDFile.tcl -text
Workshops/OpenSeesDays/frame2/example.tcl -text
Workshops/OpenSeesDays/frame2/example1.tcl -text
Workshops/OpenSeesDays/frame2/example2.tcl -text
Workshops/OpenSeesDays/frame2/example3.out -text
Workshops/OpenSeesDays/frame2/example3.tcl -text
Workshops/OpenSeesDays/frame2/example31.tcl -text
Workshops/OpenSeesDays/frame2/example4.out -text
Workshops/OpenSeesDays/frame2/example4.tcl -text
Workshops/OpenSeesDays/frame2/example41.tcl -text
Workshops/OpenSeesDays/g.tcl -text
Workshops/OpenSeesDays/h.tcl -text
Workshops/OpenSeesDays/j.tcl -text
Workshops/OpenSeesDays/m.tcl -text
Workshops/OpenSeesDays/n.tcl -text
Workshops/OpenSeesDays/nn.tcl -text
Workshops/OpenSeesDays/o.tcl -text
Workshops/OpenSeesDays/p.tcl -text
Workshops/OpenSeesDays/pile/elasticPileSection.tcl -text
Workshops/OpenSeesDays/pile/get_pyParam.tcl -text
Workshops/OpenSeesDays/pile/get_qzParam.tcl -text
Workshops/OpenSeesDays/pile/get_tzParam.tcl -text
Workshops/OpenSeesDays/pile/pile.tcl -text
Workshops/OpenSeesDays/site/accelPlot.m -text
Workshops/OpenSeesDays/site/respSpectra.m -text
Workshops/SimWorkshop/Pegasus1/dax.xml -text
Workshops/SimWorkshop/Pegasus2/opensees-dax-generator.py -text
